@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary-brand: #ff47d0;
}

.font-primary {
  font-family: "Mochiy Pop One", sans-serif;
  color: var(--color-primary-brand);
}